# For Local development configuration (no real secrets committed)

# ALL env have automatic fallbacks if it didnt have been defined.
SERVICE_TOKEN=YOUR_SERVICE_TOKEN_HERE
MODEL_DIR=YOUR_MODEL_DIRECTORY_HERE
MODEL_VERSION=YOUR_MODEL_VERSION_HERE
HOST=127.0.0.1
PORT=8000
